[*.{kt,kts}]
indent_size = 4
insert_final_newline = false

# noinspection EditorConfigKeyCorrectness
disabled_rules = no-wildcard-imports, indent
# FIXME https://github.com/pinterest/ktlint/issues/764