<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2023 Squircle CE contributors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        android:name=".SquircleApp"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:theme">

        <activity
            android:name=".application.activity.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboard|keyboardHidden"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:scheme="content" />

                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.log" />
                <data android:pathPattern=".*\\.js" />
                <data android:pathPattern=".*\\.json" />
                <data android:pathPattern=".*\\.java" />
                <data android:pathPattern=".*\\.kt" />
                <data android:pathPattern=".*\\.kts" />
                <data android:pathPattern=".*\\.md" />
                <data android:pathPattern=".*\\.lua" />
                <data android:pathPattern=".*\\.rb" />
                <data android:pathPattern=".*\\.as" />
                <data android:pathPattern=".*\\.cs" />
                <data android:pathPattern=".*\\.c" />
                <data android:pathPattern=".*\\.cpp" />
                <data android:pathPattern=".*\\.h" />
                <data android:pathPattern=".*\\.hpp" />
                <data android:pathPattern=".*\\.lisp" />
                <data android:pathPattern=".*\\.lsp" />
                <data android:pathPattern=".*\\.cl" />
                <data android:pathPattern=".*\\.l" />
                <data android:pathPattern=".*\\.py" />
                <data android:pathPattern=".*\\.pyw" />
                <data android:pathPattern=".*\\.pyi" />
                <data android:pathPattern=".*\\.vb" />
                <data android:pathPattern=".*\\.bas" />
                <data android:pathPattern=".*\\.cls" />
                <data android:pathPattern=".*\\.sql" />
                <data android:pathPattern=".*\\.sqlite" />
                <data android:pathPattern=".*\\.sqlite2" />
                <data android:pathPattern=".*\\.sqlite3" />
                <data android:pathPattern=".*\\.htm" />
                <data android:pathPattern=".*\\.html" />
                <data android:pathPattern=".*\\.xhtml" />
                <data android:pathPattern=".*\\.xht" />
                <data android:pathPattern=".*\\.xaml" />
                <data android:pathPattern=".*\\.xdf" />
                <data android:pathPattern=".*\\.xmpp" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.sh" />
                <data android:pathPattern=".*\\.ksh" />
                <data android:pathPattern=".*\\.bsh" />
                <data android:pathPattern=".*\\.csh" />
                <data android:pathPattern=".*\\.tcsh" />
                <data android:pathPattern=".*\\.zsh" />
                <data android:pathPattern=".*\\.bash" />
                <data android:pathPattern=".*\\.groovy" />
                <data android:pathPattern=".*\\.gvy" />
                <data android:pathPattern=".*\\.gy" />
                <data android:pathPattern=".*\\.gsh" />
                <data android:pathPattern=".*\\.php" />
                <data android:pathPattern=".*\\.php3" />
                <data android:pathPattern=".*\\.php4" />
                <data android:pathPattern=".*\\.php5" />
                <data android:pathPattern=".*\\.phps" />
                <data android:pathPattern=".*\\.phtml" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.ino" />
                <data android:pathPattern=".*\\.mjs" />
                <data android:pathPattern=".*\\.cjs" />
                <data android:pathPattern=".*\\.jl" />
                <data android:pathPattern=".*\\.yaml" />
                <data android:pathPattern=".*\\.yml" />
                <data android:pathPattern=".*\\.toml" />
                <data android:pathPattern=".*\\.gradle" />
                <data android:pathPattern=".*\\.mts" />
                <data android:pathPattern=".*\\.cts" />
                <data android:pathPattern=".*\\.smali" />
                <data android:pathPattern=".*\\.css" />
                <data android:pathPattern=".*\\.scss" />
                <data android:pathPattern=".*\\.go" />
                <data android:pathPattern=".*\\.tex" />
                <data android:pathPattern=".*\\.f90" />
                <data android:pathPattern=".*\\.f95" />
                <data android:pathPattern=".*\\.f03" />
                <data android:pathPattern=".*\\.f08" />
                <data android:pathPattern=".*\\.f" />
                <data android:pathPattern=".*\\.for" />
                <data android:pathPattern=".*\\.ftn" />
                <data android:pathPattern=".*\\.rs" />
            </intent-filter>
        </activity>

        <!-- Passing data using implicit intent ("Open With" system dialog) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Support for `foregroundServiceType` in WorkManager -->
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <!-- Inject WorkManager with Hilt -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <profileable
            android:shell="true"
            tools:targetApi="29" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="*/*" />
        </intent>
    </queries>

</manifest>